%h1 Listing tweets

%table
  %tr
    %th Celebrity
    %th Tweet
    %th Answer
    %th
    %th
    %th

  - @tweets.each do |tweet|
    %tr
      %td= tweet.celebrity_id
      %td= tweet.tweet
      %td= tweet.answer
      %td= link_to 'Show', celebrity_tweet_path(@celebrity, tweet)
      %td= link_to 'Edit', edit_celebrity_tweet_path(@celebrity, tweet)
      %td= link_to 'Destroy', celebrity_tweet_path(@celebrity, tweet), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tweet', new_celebrity_tweet_path(@celebrity)
