%p#notice= notice

%p
  %b Celebrity:
  = @tweet.celebrity_id
%p
  %b Tweet:
  = @tweet.tweet
%p
  %b Answer:
  = @tweet.answer
%p
  %b Id:
  = @tweet.id


= link_to 'Edit', edit_celebrity_tweet_path(@celebrity, @tweet)
\|
= link_to 'Back', celebrity_tweets_path(@celebrity)
