<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h1>
        Score: <%= @user.score %>
      </h1>
      <div class="usersshow">
        <li class="buttonz"><%=link_to "Edit", edit_user_path(@user) %></li>
      </div>
      <div class="usersshow">
        <li class="buttonz"><%=link_to "Standings", users_path %></li>
      </div>
      <div class="usersshow">
        <li class="buttonz"><%=link_to 'New Game', new_user_answer_path(@user, @answer) %></li>
      </div>
    </section>
  </aside>
</div>

<!-- 
%h1
  = gravatar_for @user
  = @user.name

%p#notice= notice

%p
  %b Name:
  = @user.name

/ %p
/   %b Password:
/   = @user.password

%p
  %b Score:
  = @user.score
%p
  %b Email:
  = @user.email

= link_to 'Edit', edit_user_path(@user)
/ = link_to 'Game', game_user_path(@user)
= link_to 'New Game', user_answers_path(@user, @answer)
/users/:user_id/answers -->