/ %p#notice= notice

.tweet{:align => "center"}
  %blockquote.twitter-tweet{:lang => "en"}
    %p= @tweet.tweet
    %a{:href => @tweet.url}link
  %script{:async => "", :charset => "utf-8", :src => "//platform.twitter.com/widgets.js"}

%p
  %b Tweet:
  = @tweet.tweet
%p
  %b Result:
  = @answer.correct == false ? "Sorry! The correct answer is: '#{Gingerice::Parser.new.@tweet.post_regex(tweet)["result"]}'": "You're smart!"
%p
  %b Guess:
  = @answer.guess

= link_to 'My Answers', user_answers_path(@user)


/ def misspelling?(tweet)
/ Gingerice::Parser.new.parse(tweet)["result"]
/ end